In [50]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [51]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mar Del Plata,AR,2022-01-30 19:40:13,-38.0023,-57.5575,84.22,48,75,18.41
1,1,Waw,SS,2022-01-30 19:40:14,7.7029,27.9953,75.13,19,100,5.50
2,2,Bandarbeyla,SO,2022-01-30 19:40:14,9.4942,50.8122,75.67,74,77,15.10
3,3,Kapaa,US,2022-01-30 19:35:42,22.0752,-159.3190,75.47,70,20,5.01
4,4,Suoyarvi,RU,2022-01-30 19:40:14,62.0833,32.3500,19.51,95,100,7.87

In [52]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mar Del Plata,AR,2022-01-30 19:40:13,-38.0023,-57.5575,84.22,48,75,18.41
1,1,Waw,SS,2022-01-30 19:40:14,7.7029,27.9953,75.13,19,100,5.50
2,2,Bandarbeyla,SO,2022-01-30 19:40:14,9.4942,50.8122,75.67,74,77,15.10
3,3,Kapaa,US,2022-01-30 19:35:42,22.0752,-159.3190,75.47,70,20,5.01
4,4,Suoyarvi,RU,2022-01-30 19:40:14,62.0833,32.3500,19.51,95,100,7.87

In [53]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [54]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [55]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [60]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [66]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mar Del Plata,AR,2022-01-30 19:40:13,-38.0023,-57.5575,84.22,48,75,18.41
1,1,Waw,SS,2022-01-30 19:40:14,7.7029,27.9953,75.13,19,100,5.50
2,2,Bandarbeyla,SO,2022-01-30 19:40:14,9.4942,50.8122,75.67,74,77,15.10
3,3,Kapaa,US,2022-01-30 19:35:42,22.0752,-159.3190,75.47,70,20,5.01
8,8,Kavaratti,IN,2022-01-30 19:40:16,10.5669,72.6420,81.34,72,15,10.92
12,12,Kattivakkam,IN,2022-01-30 19:40:17,13.2167,80.3167,79.07,81,7,5.35
13,13,Sao Joao Da Barra,BR,2022-01-30 19:40:17,-21.6403,-41.0511,84.29,84,33,10.47
14,14,Cabo San Lucas,MX,2022-01-30 19:40:16,22.8909,-109.9124,83.52,64,94,3.98
15,15,Tambopata,PE,2022-01-30 19:40:18,-12.7333,-69.1833,80.49,78,75,6.91
17,17,Pisco,PE,2022-01-30 19:40:18,-13.7000,-76.2167,75.25,64,0,6.91

In [67]:
preferred_cities_df.count()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [68]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0       Mar Del Plata      AR     84.22 -38.0023  -57.5575
1                 Waw      SS     75.13   7.7029   27.9953
2         Bandarbeyla      SO     75.67   9.4942   50.8122
3               Kapaa      US     75.47  22.0752 -159.3190
8           Kavaratti      IN     81.34  10.5669   72.6420
12        Kattivakkam      IN     79.07  13.2167   80.3167
13  Sao Joao Da Barra      BR     84.29 -21.6403  -41.0511
14     Cabo San Lucas      MX     83.52  22.8909 -109.9124
15          Tambopata      PE     80.49 -12.7333  -69.1833
17              Pisco      PE     75.25 -13.7000  -76.2167

In [70]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [75]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [76]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Mar Del Plata,AR,84.22,-38.0023,-57.5575,Gran Hotel Mar del Plata
1,Waw,SS,75.13,7.7029,27.9953,Universal Gab Hotel
2,Bandarbeyla,SO,75.67,9.4942,50.8122,JABIR HOTEL
3,Kapaa,US,75.47,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Kavaratti,IN,81.34,10.5669,72.6420,Hotels in Lakshadweep Islands
...,...,...,...,...,...,...
567,Mamallapuram,IN,79.05,12.6264,80.1722,Radisson Blu Resort Temple Bay Mamallapuram
569,Roebourne,AU,84.13,-20.7833,117.1333,Latitude20 Roebourne Village
575,Cosala,MX,86.13,24.4125,-106.6908,Hotel Real del Conde
576,Balabac,PH,79.48,7.9868,117.0645,Sing and Swing Lodge
577,La Palma,US,76.50,33.8464,-118.0467,La Quinta Inn & Suites by Wyndham Buena Park

In [82]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [84]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [85]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [86]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))