## Deliverable 2. Create a Customer Travel Destinations Map.

In [41]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [42]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Evanston,US,2022-02-02 21:41:33,42.0411,-87.6901,22.05,86,100,5.01,overcast clouds
1,1,Saint-Pierre,RE,2022-02-02 21:42:18,-21.3393,55.4781,80.28,89,75,37.98,light rain
2,2,Elko,US,2022-02-02 21:42:18,41.0002,-115.5012,26.74,41,8,8.01,clear sky
3,3,Ostrovnoy,RU,2022-02-02 21:42:18,68.0531,39.5131,20.82,91,100,15.01,light snow
4,4,Lebu,CL,2022-02-02 21:41:11,-37.6167,-73.6500,63.72,79,45,11.01,scattered clouds

In [43]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 70

In [44]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
4,4,Lebu,CL,2022-02-02 21:41:11,-37.6167,-73.6500,63.72,79,45,11.01,scattered clouds
6,6,Faya,SA,2022-02-02 21:42:19,18.3851,42.4509,57.31,68,11,1.05,few clouds
7,7,Cape Town,ZA,2022-02-02 21:37:51,-33.9258,18.4232,67.12,90,40,1.99,scattered clouds
12,12,Busselton,AU,2022-02-02 21:41:53,-33.6500,115.3333,66.04,48,100,14.52,overcast clouds
15,15,Ponta Do Sol,PT,2022-02-02 21:42:21,32.6667,-17.1000,67.71,79,100,6.08,overcast clouds
19,19,Mataura,NZ,2022-02-02 21:42:22,-46.1927,168.8643,57.47,97,100,3.96,moderate rain
20,20,Hobart,AU,2022-02-02 21:39:05,-42.8794,147.3294,59.05,60,40,1.01,scattered clouds
26,26,New Norfolk,AU,2022-02-02 21:42:25,-42.7826,147.0587,58.71,59,68,1.01,broken clouds
28,28,Nyimba,ZM,2022-02-02 21:42:26,-14.5566,30.8149,68.31,97,7,4.07,clear sky
38,38,Plettenberg Bay,ZA,2022-02-02 21:42:29,-34.0527,23.3716,69.55,91,100,4.90,overcast clouds

In [45]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                151
City                   151
Country                148
Date                   151
Lat                    151
Lng                    151
Max Temp               151
Humidity               151
Cloudiness             151
Wind Speed             151
Weather Description    151
dtype: int64

In [46]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df= preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
4,4,Lebu,CL,2022-02-02 21:41:11,-37.6167,-73.6500,63.72,79,45,11.01,scattered clouds
6,6,Faya,SA,2022-02-02 21:42:19,18.3851,42.4509,57.31,68,11,1.05,few clouds
7,7,Cape Town,ZA,2022-02-02 21:37:51,-33.9258,18.4232,67.12,90,40,1.99,scattered clouds
12,12,Busselton,AU,2022-02-02 21:41:53,-33.6500,115.3333,66.04,48,100,14.52,overcast clouds
15,15,Ponta Do Sol,PT,2022-02-02 21:42:21,32.6667,-17.1000,67.71,79,100,6.08,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
677,677,Adre,TD,2022-02-02 21:59:39,13.4667,22.2000,64.90,20,5,9.15,clear sky
680,680,Cervo,ES,2022-02-02 21:59:40,43.6702,-7.4101,53.96,80,90,8.14,overcast clouds
685,685,Damaturu,NG,2022-02-02 21:59:41,11.7470,11.9608,62.71,23,4,8.23,clear sky
690,690,Malangali,TZ,2022-02-02 21:59:42,-8.5667,34.8500,64.09,92,100,1.61,light rain
714,714,Ulladulla,AU,2022-02-02 22:00:51,-35.3500,150.4667,65.88,64,88,13.62,overcast clouds

In [47]:
clean_df.count()

City_ID                148
City                   148
Country                148
Date                   148
Lat                    148
Lng                    148
Max Temp               148
Humidity               148
Cloudiness             148
Wind Speed             148
Weather Description    148
dtype: int64

In [48]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,Lebu,CL,63.72,scattered clouds,-37.6167,-73.6500,
6,Faya,SA,57.31,few clouds,18.3851,42.4509,
7,Cape Town,ZA,67.12,scattered clouds,-33.9258,18.4232,
12,Busselton,AU,66.04,overcast clouds,-33.6500,115.3333,
15,Ponta Do Sol,PT,67.71,overcast clouds,32.6667,-17.1000,
19,Mataura,NZ,57.47,moderate rain,-46.1927,168.8643,
20,Hobart,AU,59.05,scattered clouds,-42.8794,147.3294,
26,New Norfolk,AU,58.71,broken clouds,-42.7826,147.0587,
28,Nyimba,ZM,68.31,clear sky,-14.5566,30.8149,
38,Plettenberg Bay,ZA,69.55,overcast clouds,-34.0527,23.3716,

In [49]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [50]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [51]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [52]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [53]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))